.outside {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
}

.block {
  display: flex;
  justify-content: left;
  height: 60px;
  width: 50px;
}
.answer {
  width: 30%;
  max-width: 30px;
}
